<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"></head>

<body>
<!-- HEADER -->
<header th:replace="fragments/header.html :: header"></header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav th:replace="fragments/header.html :: navigation"></nav>
<!-- /NAVIGATION -->
<div class="row">
    <div class="col-md-12">
        <h3 class="breadcrumb-header">Order success!</h3>
        <a th:href="@{/}">Home</a>
    </div>
</div>
<!-- NEWSLETTER -->
<div th:replace="fragments/footer.html :: newsletter"></div>
<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script th:replace="fragments/footer.html :: scripts"></script>

</body>
</html>